<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    {% block title %}
    <title>Shinchan Fan's</title>
    {% endblock %}
</head>
<body>
    <style>
        h1{
            text-align: center;
        }
        ul{
            text-align: center;
        }
    </style>
    <nav class = "red accent-3">
            <div class="nav-wrapper">
            <a href="/" class="brand-logo">Shinchan Love</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="{% url 'create' %}">Create Your Own Post</a></li>
            </ul>
            </div>
        </nav>
    
    {%block content%}
    <h1>A haven for sharing the love for shinchan</h1>
        {% for post in object_list %}
            <ul>
                <li>
                    <a href="{%url 'article' post.pk%}">
                        "{{post.title}}" by {{post.author.first_name}} {{post.author.last_name}}
                    </a>
                </li>
            </ul>
        {%endfor%}
    {%endblock%}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>